<div class="container">
  <div class="row justify-content-center row-content">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center text-white bg-info">
          <h2>Complete Patient Record</h2>
        </div>

        <div class="card-body">
          <!-- FORM STARTS HERE -->
          <div class="card mb-4">
            <div class="card-header text-center text-white bg-info">
              Patient Details
            </div>
            <div class="card-body">
              <!-- <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">First Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ this.state.data.firstName }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Last Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ this.state.data.lastName }}
                    </p>
                  </div>
                </div> -->
              <!-- <hr /> -->
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Aadhaar Number</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ this.state.aadhar }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Hospital Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ this.state.hospitalName }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Department</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ this.state.department }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <form
            novalidate
            [formGroup]="recordForm"
            #fform="ngForm"
            (ngSubmit)="createRecord()"
          >

            <div
              class="form-group row form-row align-items-center justify-content-center"
            >
              <div class="col-12 form-label">
                <label for="diagnosis">Diagnosis</label>
              </div>

              <div class="col-12">
                <input
                  name="diagnosis"
                  type="text"
                  formControlName="diagnosis"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': formErrors.diagnosis
                  }"
                  id="diagnosis"
                  placeholder="Diagnosis"
                />
              </div>
              <span *ngIf="formErrors.diagnosis" class="text-danger">
                {{ formErrors.diagnosis }}
              </span>
            </div>
            <div
              class="form-group row form-row align-items-center justify-content-center"
            >
              <div class="col-12 form-label">
                <label for="prescription">Prescription</label>
              </div>

              <div class="col-12">
                <textarea
                  name="prescription"
                  type="prescription"
                  formControlName="prescription"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': formErrors.prescription
                  }"
                  id="prescription"
                  placeholder="Prescription"
                ></textarea>
              </div>
              <span *ngIf="formErrors.prescription" class="text-danger">
                {{ formErrors.prescription }}
              </span>
            </div>
            <div class="form-group row form-row mt-3">
              <div class="col-12">
                <button type="submit" class="btn btn-info col-12">
                  Submit Record
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
