<div class="container">
  <div class="row justify-content-center row-content">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center text-white bg-info">
          <h2>Consent Form</h2>
        </div>

        <div class="card-body">
          <!-- FORM STARTS HERE -->
          <form
            novalidate
            [formGroup]="consentForm"
            #fform="ngForm"
            (ngSubmit)="composeConsent()"
          >
            <div
              class="form-group row form-row align-items-center justify-content-center"
            >
              <div class="col-12 form-label">
                <label for="aadhar">Patient Aadhaar</label>
              </div>

              <div class="col-12">
                <input
                  name="aadhar"
                  type="text"
                  formControlName="aadhar"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': formErrors.aadhar
                  }"
                  id="aadhar"
                  required
                  placeholder="Aadhaar Number"
                />
              </div>
              <span *ngIf="formErrors.aadhar" class="text-danger">
                {{ formErrors.aadhar }}
              </span>
            </div>
            <br />
            <div
              class="form-group row form-row align-items-center justify-content-center"
            >
              <div class="col-md-6">
                <label for="sourcehospital form-label"
                  >Record Sending Hospital</label
                >
                <select
                  name="sourcehospital"
                  formControlName="sourcehospital"
                  required
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': formErrors.sourcehospital
                  }"
                >
                  <option disabled>Select Record Sending Hospital</option>
                  <option *ngFor="let hospital of sourceHospitals">
                    {{ hospital }}
                  </option>
                </select>
                <span *ngIf="formErrors.sourcehospital" class="text-danger">
                  {{ formErrors.sourcehospital }}
                </span>
              </div>
              <div class="col-md-6">
                <label for="department form-label">Department</label>

                <select
                  name="department"
                  formControlName="department"
                  required
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': formErrors.department
                  }"
                >
                  <option disabled>Select Department</option>
                  <option *ngFor="let dept of departments">
                    {{ dept }}
                  </option>
                </select>
              </div>
              <span *ngIf="formErrors.department" class="text-danger">
                {{ formErrors.department }}
              </span>
            </div>
            <br />
            <div
              class="form-group row form-row align-items-center justify-content-center"
            >
              <div class="col-12 form-label">
                <label for="enddate">Specify Ending Date and Time</label>
              </div>

              <div class="col-12">
                <input
                  name="enddate"
                  matInput
                  type="datetime-local"
                  formControlName="enddate"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': formErrors.enddate
                  }"
                  id="enddate"
                  required
                  placeholder="End Date"
                />
              </div>
              <span *ngIf="formErrors.enddate" class="text-danger">
                {{ formErrors.enddate }}
              </span>
            </div>

            <div class="form-group row form-row mt-3">
              <div class="col-12">
                <button
                  type="submit"
                  class="btn btn-info col-12 text-center text-white"
                  [disabled]="consentForm.invalid"
                >
                  Compose Consent
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
