<div class="container">
    <div class="row justify-content-center row-content">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center text-white bg-info">
            <h2>Register Patient</h2>
          </div>
  
          <div class="card-body">
            <!-- FORM STARTS HERE -->
            <h5 class="card-title">Create patient with Aadhaar : {{this.aadhar}}</h5>
            <form
              novalidate
              [formGroup]="registerForm"
              #fform="ngForm"
              (ngSubmit)="register()"
            >
              <div
                class="form-group row form-row align-items-center justify-content-center"
              >
                <div class="col-12 form-label">
                  <label for="firstName">First Name</label>
                </div>
  
                <div class="col-12">
                  <input
                    name="firstName"
                    type="text"
                    formControlName="firstName"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': formErrors.firstName
                    }"
                    id="firstName"
                    required
                    placeholder="First Name"
                  />
                </div>
                <span *ngIf="formErrors.firstName" class="text-danger">
                  {{ formErrors.firstName }}
                </span>
              </div>
              <div
                class="form-group row form-row align-items-center justify-content-center"
              >
                <div class="col-12 form-label">
                  <label for="lastName">Last Name</label>
                </div>
  
                <div class="col-12">
                  <input
                    name="lastName"
                    type="text"
                    formControlName="lastName"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': formErrors.lastName
                    }"
                    id="lastName"
                    required
                    placeholder="Last Name"
                  />
                </div>
                <span *ngIf="formErrors.lastName" class="text-danger">
                  {{ formErrors.lastName }}
                </span>
              </div>
              <div
                class="form-group row form-row align-items-center justify-content-center"
              >
                <div class="col-12 form-label">
                  <label for="dob">Date of Birth</label>
                </div>
  
                <div class="col-12">
                  <input
                    name="dob"
                    type="date"
                    formControlName="dob"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': formErrors.dob
                    }"
                    id="dob"
                    required
                    placeholder="Date of Birth"
                  />
                </div>
                <span *ngIf="formErrors.dob" class="text-danger">
                  {{ formErrors.dob }}
                </span>
              </div>
  
              <div
                class="form-group row form-row align-items-center justify-content-center"
              >
                <div class="col-12 form-label">
                  <label for="phoneNumber">Phone Number</label>
                </div>
  
                <div class="col-12">
                  <input
                    name="phoneNumber"
                    type="phoneNumber"
                    formControlName="phoneNumber"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': formErrors.phoneNumber
                    }"
                    id="phoneNumber"
                    placeholder="Phone Number"
                  />
                </div>
                <span *ngIf="formErrors.phoneNumber" class="text-danger">
                  {{ formErrors.phoneNumber }}
                </span>
              </div>
              <div class="form-group row form-row mt-3">
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-info col-12"
                    [disabled]="registerForm.invalid"
                  >
                    Register
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  