<div class="container">
  <div class="row">
    <div *ngIf="globalservice.currentCredentials.role === 'DOCTOR'" class="col-md-6">
      <div class="row justify-content-center row-content p-2">
        <div class="col-md-6">
          <a class="btn btn-info col-12 position-relative" routerLink="/pendingrecords">
            <div class="card-body text-center">Pending Records</div>
          </a>
        </div>

        <div class="col-md-6">
          <a class="btn btn-info col-12 position-relative" routerLink="/addrecords">
            <div class="card-body text-center">Add Records</div>
          </a>
        </div>

      </div>
      <div class="row justify-content-center row-content p-2">

        <div class="col-md-6">
          <button class="btn btn-info col-12 position-relative" routerLink="/requestpatientdata">
            <div class="card-body text-center">Request Patient Data</div>
          </button>
        </div>

        <div class="col-md-6">
          <button class="btn btn-info col-12 position-relative" routerLink="/requestconsent">
            <div class="card-body text-center">Request Consent</div>
          </button>
          
        </div>

      </div>
      <div class="row justify-content-center row-content p-2">
        <div class="col">
          <button class="btn btn-info col-12 position-relative" routerLink="/approvedconsents">
            <div class="card-body text-center">Approved Consents</div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger bg-danger">
              99+
              <span class="visually-hidden">unread messages</span>
          </span>
          </button>
        </div>

      </div>
    </div>
    <div *ngIf="globalservice.currentCredentials.role === 'STAFF'" class="col-md-6">
      <div class="row justify-content-center row-content">
        <a class="col-md-6 card" routerLink="/pendingrecords">
          <div class="card-body text-center">Pending Records</div>
        </a>
        <a class="col-md-6 card" routerLink="/addrecords">
          <div class="card-body text-center">Add Records</div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header text-center text-white bg-info">
          Patient Details
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ globalservice.currentCredentials.firstname }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Last Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ globalservice.currentCredentials.lastname }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Role</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ globalservice.currentCredentials.role }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Aaadhar Number</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ globalservice.currentCredentials.aadhar }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ globalservice.currentCredentials.email }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(098) 765-4321</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>